* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.app {
  display: grid;
  /* grid-template-rows: repeat(2, minmax(100px, 175px)); */
  grid-template-rows: 50px 1fr;
  grid-template-columns: 1fr;
 /* justify-content: flex-start; */
  /* align-items: center; */
  gap: 10px;
  min-width: 100vw;
  min-height: 100vh;
  background-color: #181C1F;
  color: #FFF0F0;
}

/* .app>div {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  gap: 20px;
}
 */
.crypto {

  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 54px;

  padding: 20px;

}

.input-group {
  display: flex;
  flex-direction: column;
  /* height: 100%; */
  /* justify-content: space-around; */
  /* align-items: flex-start; */
  /* gap: 26px; */
}

.input-group--label {
  padding: 7px 0;
  
}

.input-group--search {
  padding: 5px;
  font-size: 1.1em;
}

.outputs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 26px;
  /* width: 100%; */
  
}


.json{
  width:100%;height:100%;
  overflow: scroll;
}